:root {
  --bg-light: #ffffff;
  --bg-dark: #060a13;
  --blue-bg: #1995dd;
  --toggle-circle: #eaf6fa;
  --icon-color: #c0cad8;
    --gold: #ffbc2d;
  --light-gold: #FFECB3; /* ذهبي فاتح */
    --toggle-bg: #2b3648;
    --light-dark:#060a13bb;
    --dark:rgba(10, 93, 131, 0.993);
    --dark-card:rgb(30 41 59 );
    --light:rgba(233, 221, 221, 0.801);
}

.light-mode{
--bg-dark:var(var(--bg-light));
--bg-light:var(var(--bg-dark)) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}

body{
    background-color: var(--bg-dark);
}
header{
  position: sticky;
  top: 0;
  border-bottom-style: solid;
  width: 100%;
  border-color: #1995dd7a;
  border-width: 4px;
  z-index: 100;
  background-color: var(--bg-dark);
  max-height: 7em;
  padding: 10px 60px;
}
nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
}

.toggle1{
  display:flex;
}

.toggle-container {
  position: relative;
 
}

.toggle-switch {
  
 max-height: 58px;
  background-color: var(--toggle-bg);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--icon-color);
}

.toggle-switch::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--toggle-circle);
  border-radius: 50%;
  position: absolute;

  transition: all 0.3s ease;
  z-index: 1;
}

.icon {
  z-index: 2;
  font-size: 15px;
}

/* إخفاء الـ checkbox */
#toggle {
  display: none;
}



.toggle-switch {
  width: 80px; /* بدلاً من 110px */
  height: 40px; /* ممكن تصغر الارتفاع كمان لو حبيت */
  padding: 0 4px ;
}

.toggle-switch::after {
  width: 38px;
  height: 38px;
  top: 1px;
  left:0px;
}
.bx-search{
  position: relative;
}
.bx-search::after {
  content: "ابحث في الموقع";
  opacity: 0;
  position: absolute; /* ← ضروري علشان نتحكم في مكانه */
  right: 40px;
  top:5px; /* يظهر تحت العنصر مباشرة */
  white-space: nowrap;
  
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translateX(50px); /* يبدأ من اليمين */
  transition: all 0.5s ease;
  pointer-events: none;
}

.bx-search:hover::after {
  opacity: 1;
  transform: translateX(0); /* يتحرك لليسار عند الـ hover */
}

#toggle:checked + .toggle-switch::after {
  transform: translateX(44px); /* مناسبة للعرض الجديد */
}

.icon {
  font-size: 16px;
  color: #060a13ad;
  
}

div.nav-logo{
    display: flex;
    margin-left: 2em;
    margin-top: 1em;
    align-items: center;
}
div.toggle-container{
    margin-left: 1em;
}
div.log{
      margin-right:  2em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    
}
div.log a{
    text-decoration: none;
    
}
 .login ,.signup ,.bx-search{
   padding:0.5em 1em;
   font-weight: 500;
   border-radius: 8px;
    
 
}
.signup{
    color: var(--bg-light);
    background-color: var(--blue-bg);
    display: flex;
    align-items: center;
    border: solid var(--bg-dark);
}

.login {
  font-family: 'Cairo', sans-serif; /* خط عربي أنيق */
  font-size: 18px;
  text-decoration: none;
   border: solid var(--bg-dark);
  
}


.white-text {
  
  display: inline-flex;
  align-items: center; /* عشان الأيقونة تطلع بجانب النص */
}

.login-icon {
  margin-right: 5px;
}

.span {
  color: gold; /* الذهبي */
}

.white-text {
  color: white;
  margin-left: 2px;
}

i.bx-search{
    font-size:1.3em;
    cursor: pointer;
    color: var(--bg-light);
    z-index: 54;
}


.log>div{
display: flex;
color: var(--bg-light);
align-items: center;
overflow: hidden;
}
.search-tex{
position: relative;
right: -180px;

}






/* ############### */

.main-header{
 
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--bg-light);
  
}
.main-header img{
  width: 30%;
}
.main-header div{
  text-align: center;
  margin-bottom: 12em;
  
}
.main-header h1{
  font-size: 2em;
    font-family: "Dubai", "Tajawal", sans-serif;
  
  
}
.main-header h1 span{
  font-size: 2em;
  color: var(--blue-bg);
  font-family: "cairo", sans-serif;
  font-weight: 900;
 


}
.main-header p{
  font-weight: 900;
  font-size: 1.21em;
    font-family: "Dubai", "Tajawal", sans-serif;
}

@media (max-width:1200px) and (min-width:800px) {
.main-header img{

  width: 50%;
}
}
@media (max-width:899px) {

  .main-header img{
  width: 90%;
  margin:0 10px;
 
}

.main-header{
  flex-direction: column;

}
.main-header {
  margin-top: 1em;
}
.main-header h1{
  font-size: 1.5em;
}

nav{
  justify-content: space-between;
  align-items: center;
}


.toggle-container{
  display: none;
}

 .login ,.signup ,.bx-search{

   margin-left: 20px ;
 
}
div.log{
   display: none;
    height: 50vh;
    border-radius: 10px;
    background-color:rgb(9, 6, 92);
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 0px;
    width:100%;
    margin: auto;
}
.menu{
  cursor: pointer;
  position: relative;
}

.menu-item::before{
   content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: var(--bg-light);
  margin: 5px;
  
}


}

.telegram-logo{
 position: fixed;
 bottom: 15px;
 left: 20px;
 width: 60px;
 height:60px;
 cursor: pointer;
 color: var(--bg-light);
 background-color:var(--blue-bg);
 padding: 15px;
 border-radius: 50%;
 z-index: 10;;
}

.teacher{
  margin-top: 5em;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
 h2{
  color:var(--bg-light);
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
  

}
 h2 span{
  color: var(--blue-bg);
  font-size: 1.5em;
}
.h-full{
  width: 30%;
  margin-bottom: 4em;
}
.classification{
  background-color:rgb(100 116 139 );
  padding: 10px 30px;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: wrap-reverse;
  width: fit-content;
  justify-content: center;
 gap: 10px;
}
.teacher img{
  height: 60%;
}
.con-appearTeacher {
  max-height: 50vh;
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
}

.teacher .card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.styled-select {
  padding: 5px 10px;
  border: 1px solid var(--light-dark);
  border-radius: 8px;
  background-color:var(--light-dark);
  color: var(--bg-light);
  font-size: 16px;
  margin: 5px;
  width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
}


@media (max-width:799px) {

 .teacher h2{
  text-align: center;
 }
 .h-full{
  width: 80%;
 }
 div.log{
   display: none;
    height: 50vh;
    border-radius: 10px;
    background-color:rgb(9, 6, 92);
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 0px;
    width:100%;
    margin: auto;
    flex-direction: column-reverse;
}

}
.appearTeacher{
  margin: 5em 2em;
}
.appearTeacher .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


.login ,.signup,.bx-search{
  margin: 10px 0;
}
.appearTeacher .card{
  
  width: 40%;
  
}
.card img{
  width: 100%;
  border-top-left-radius: 1em;
   border-top-right-radius: 1em;
}
.text-card{
  width: 90%;
  margin: auto;
  position: relative;
  top:-35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 0.5em 4em;
  text-align: center;
  border-radius: 0.8em;
  background-color: rgb(100 116 139 );
  z-index: 5;
}
.text-card h3{
  color: var(--bg-light);
  font-size: 2.2em;
  font-weight: 900;

}
.text-card p{
  color: var(--bg-light);
  font-size: 1.8em;
  font-weight: 500;
  line-height: 10px;

  
}
.appearTeacher button ,.suggestion-courses button{
  margin-top: 2em;
  padding: 8px 15px;
  border-radius: 5px;
  color: var(--bg-light);
  background-color: rgb(244 63 94 );
  display: flex;
  justify-self: center;
  border-style: none;
  font-weight: 600;
  font-size: 1.05em;
  text-align: center;
}



@media (max-width:799px) {


 .appearTeacher .card{
  
  width: 100%;
  
}

}

@media (max-width:1300px) and (min-width:799px) {


   .login{
  margin: 0 1em;
 }
 
 .appearTeacher .card{
  
  width: 45%;
  
}
}

@media (min-width:1300px) {


 .appearTeacher .card{
  
  width: 30%;
  
}
}

/* ############### */


.suggestion-courses{
  margin: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.suggestion-courses .p{
  color: var(--bg-light);
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5em;
}
.suggestion-courses .p::after{
  content:"🌞";
  direction: rtl;
}

.suggestion-courses .container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.suggestion-courses .card{
  background-color: var(--dark-card);
  width: 40%;
  margin: 1em 0;
  border-radius: 1em;
}
.suggestion-courses .upper-side{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 1em 0.5em 1.3em 0.5em;

}
.suggestion-courses .upper-side .text{
  width: 78%;
}
.upper-side .text{
  padding: 0.2em;

}
.upper-side .text h3{
  font-weight: 700;
  font-size: 1.5em;
  color: var(--bg-light);
}
.upper-side .text p{
  font-weight: 500;
  font-size: 0.9em;
  color: var(--light);
}
 hr{
  margin: 5px;
 height: 0.09px;
 background-color: var(--bg-light);
 border-style: none;
}
.upper-side hr{
  margin: 5px;
  height: 2px;
}
.upper-side .button a{
  text-decoration: none;
  color: var(--bg-light);
  border:2px solid rgb(61, 179, 149);
  padding: 3px 8px;
  border-radius: 1em;
  margin: 20px 0;
}

.upper-side .button p {
  
  text-decoration: none;
  color: var(--bg-light);
  background-image: linear-gradient(to right , rgb(244 63 94 ),  rgb(184, 20, 175));
  padding: 3px 8px;
  border-radius: 1em;
}
.lower-side .free{
    color: var(--bg-light);
  background-image: linear-gradient(to right , rgb(244 63 94 ),  rgb(184, 20, 175));
  padding: 3px 8px;
  border-radius: 1em;
  height: fit-content;
  display: flex;
  margin: auto 0;
}
.lower-side .date p{
  color: var(--light);
  display: flex;
  align-items: center;
}
.lower-side .date p i{
  margin-right: 5px;
}


.suggestion-courses .upper-side .button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.suggestion-courses .lower-side{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
   margin: 1em 0.5em 1.3em 0.5em;

}



@media (min-width:900px)and (max-width:1300px) {

 
.suggestion-courses .card{
  
  width: 60%;
  
}
 
}


@media (max-width:900px)and (min-width:799px) {

.suggestion-courses .card{

  width: 80%;
  
}
 
}

@media (max-width:799px) {


  .suggestion-courses .container{
     
      width: 90vw;
  }
.suggestion-courses .card{

  width: 100%;

  
}
.suggestion-courses .upper-side{
  flex-direction: column;
  align-items: end;
 


}
.suggestion-courses .upper-side .text{
 width: 100%;
  

}
.suggestion-courses .upper-side .button{
 width: 100%;
  

}

.upper-side .button a{

  padding:  1px;
  border-radius: 0.5em;
  margin: 10px 0;
  text-align: center;
}

.upper-side .button p {

  padding: 1px;
  border-radius: 0.5em;
  text-align: center;
}

.suggestion-courses button{

 
  
   width: 80vw;


 
}
}

/* ###################### */
.filter-data{
  background-color: rgb(22, 94, 122);
  padding: 5em 1em;
}


.filter-data .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  
  
}

.filter-data img{
  width: 20%;
  margin-right: 1em;
}
.filter-data .text-side{
  width: 60%;
}

.filter-data .text-side h4{
color: var(--bg-light);
font-size: 1em;
font-weight: 900;

}
.filter-data .text-side p{
color: var(--bg-light);

font-size: 1.5em;
font-weight: 600;
background-color: var(--bg-dark);
padding: 1em 1em;
border-radius: 0.8em;
border:solid white 2px;
margin:1em 0 1em 1em;
margin-bottom: 1em;


}
.filter-data .text-side a{


text-decoration: none;
color: var(--bg-dark);
background-color: var(--gold);
font-size: 1.2em;
font-weight: 700;
padding:0.2em 0.7em;
border-radius: 0.4em;


}

@media (max-width:1000px){
  .filter-data .container{
    flex-direction: column;
    align-items: center;
    
  }
    .filter-data .container img{
    
      width: 40vw;
      margin-top: 4em;
    
  }
    .filter-data .text-side{
    
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
    
  }
  .filter-data .text-side p{
font-size: 1em;
margin-bottom: 1em;
width: 80vw;

}
}
/* ################## */

.section-subject{
  margin:5em 0;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-subject .continer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-subject .card{
   
  padding: 1em 2em;
  

}
.section-subject .card  h3{
  
  font-size: 2em;
  font-weight: 800;
  background-color: var(--gold);
  margin-bottom: 1em;
  padding: 10px 20px;
  border-radius: 5em;
  color: var(--bg-light);
}
.section-subject  .sub-container-subject{
  background-color: var(--blue-bg);
  padding: 10px 20px;
  text-align: center;
  border-radius: 1em;
}
.section-subject  .sub-container-subject p{
color: var(--bg-light);
font-size: 1.5em;
font-weight: 600;
text-align: center;
margin: 1em 0;

}

.section-subject  .sub-container-subject button{
  border:solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.5em;
  background-color: var(--gold);
  color: var(--bg-light);
  font-weight: 600;
}


@media (min-width:1180px) {
  .card2{
position: relative;
top: 4em;
}
.card1{
position: relative;
top: 8em;
}

  

}
@media (max-width:799px) {
  .section-subject .card{
  width:80vw;
  text-align: center;
}
.section-subject .card  h3{
  
  font-size: 1.2em;

}
  
}


/* ################################ */

.how-simpleast{
  margin: 8em 0;
}
.how-simpleast .container{
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  

}
.how-simpleast .card{
  background-color: var(--blue-bg);
  padding: 30px 20px;
  margin: 10px;
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1em;

}
.how-simpleast .card h3{
  font-size: 2em;
  font-weight: 800;
  color:var(--toggle-bg);
}
.how-simpleast .card p{
  font-size: 1em;
  font-weight: 600;
  color:var(--bg-light);
}

.skip{
  background-color:rgb(22, 94, 122);
  padding: 40px 10px;
  text-align: center;
}
.skip h6{
  font-size: larger;
  font-weight: 700;
  color: var(--bg-light);
  margin-bottom: 1.2em;
}
.skip a{
  border-radius: 8px;
 background-color: var(--gold);
 padding: 10px 30px;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: 600;
 color: var(--bg-dark);

}

.study-section {
  margin: 10em 0;
  background-color: rgb(12, 148, 192);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding: 30px;
}

.study-section .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  
}
.icon{
  display: flex;
  align-items: center;
}


.study-section .image {
  
  
  padding: 10px;
}

.study-section img {
  width: 100%;
  
}

.study-text {
  flex: 1;
  padding: 10px;
}

.study-text h2 {
  font-size: 4.8em;
  font-weight: 900;
  line-height: 1.2;
  text-align: start;
}

.study-text h3 {
  font-size: 3em;
  font-weight: 900;
  color: var(--bg-light);
  display: flex;
  align-items: center;

  
}
.study-text h3 .svg{
margin: 0  0 0 15px;
display: flex;
align-items: center;
  
}

.study-text span {
  color: var(--gold);
}

.study-text p {
  width: 80%;
  color: var(--bg-light);
  font-size: 1.3em;
  margin-top: 10px;
}

.study-section a {
  display: inline-block;
  margin-top: 3em;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  color: var(--bg-light);
  padding: 10px 60px;
  background-color: #7505ff;
  border-radius: 0.6em;
  box-shadow: 0 3px 12px rgba(147, 17, 183, 0.246);
}

@media (max-width: 1000px) {
  .study-section .container {
    flex-direction: column;
    
  }

  .study-section img {
    width: 90%;
    margin-bottom: 3em;
  }
}

@media (min-width:799px) and (max-width:1200px) {
.how-simpleast .card{

  width: 40vw;
}
}

@media (max-width:799px) {
.how-simpleast .card{

  width: 70vw;
}
}


footer{
  margin-top: 5em;
  background-color: rgb(22, 94, 122);
  min-height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
footer .image{
display: flex;
justify-content: center;
width: 50vw;
}
footer .tel{
 
 background-color: var(--bg-dark);
 color: white;
 padding: 10px 60px;
 margin-bottom: 2em;
 font-size: 1.5em;
 font-weight: 700;
 border-radius: 10px;
}
.tel p{
  
  padding: 10px 20px;
  border-radius: 10px;
}

.tel p a{
  background-color:rgb(122, 169, 177);
  padding: 8px 40px;
 border-radius: 10px;
 color: #f4f5f7;
 font-weight: 700;
}
footer  .icon i{
  font-size: 2.2em;
  margin: 0 5px 10px;
}
footer >p{
  font-size: larger;
  font: 600;
  color: var(--bg-light);
  margin: 1em 0 ;
  text-align: center;
  margin-bottom: 5em;


}

@media (max-width:799px) {
footer .tel{
text-align: center;

font-size: 1.2em;

}

.tel p{
  
  padding: 8px 15px;
  border-radius: 8px;
}

.tel p a{

  padding: 4px 20px;
 border-radius: 10px;

 font-weight: 600;
}
}


/* animation */
@media (min-width:900px) {
  .login{
    margin-right: 1em;
    padding: 5px 10px;
  }
.login:hover{
  border-style: double;
  border-color:var(--gold);
   transition: 0.5s ease-in-out;
   transform: scale(1.05);
   
}
.signup:hover ,button:hover{
border: solid var(--blue-bg);
background-color: var(--bg-dark);
color: var(--blue-bg);
 transition: 0.5s ease-in-out;
  transform: scale(1.05);
}
.appearTeacher .card:hover{
      transform: scale(1.1);
       transition: 0.5s ease-in-out;
}
.appearTeacher button:hover, .suggestion-courses button:hover{
  cursor: pointer;
  background-color: var(--bg-light);
  color: var(--bg-dark);
         transition: 0.5s ease-in-out;
  
}

.suggestion-courses .card .upper-side .button a:hover{
transform: scale(.8);
       transition: 0.5s ease-in-out;
}

.filter-data a:hover ,.section-subject button:hover, #btn:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
    cursor: pointer; 
}

.section-subject  .sub-container-subject button:hover{
  border:none;
background-color: transparent;
color: var(--bg-dark);
border: solid var(--gold); 

}





/* footer section */

footer .icon .fa-facebook:hover{
    transition: 1s ease;
    transform: rotate(25deg);
    cursor: pointer; 
    color: #1995dd;
}
footer .icon .fa-whatsapp:hover{
    transition: 1s ease;
    transform: rotate(25deg);
    cursor: pointer; 
    color: #19dd92;
}
footer .icon .fa-instagram:hover{
    transition: 1s ease;
    transform: rotate(25deg);
    cursor: pointer; 
    color: #dd8219;
}
}


.card {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeInScale 0.5s ease-in-out forwards;
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.con-appearTeacher {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

/* login and sign up */
.form{
  display: flex;
  justify-content: space-between;
}
.login-text{
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--bg-light);
}
.login-text h4{
  font-size: 1.5em;
}
.login-text span{
  color: var(--blue-bg);
}


.form img{
    width: 50%;
}

.form .container{
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--bg-light);
}
form{
  margin: 2em 0;
}
.form input {
  width: 80%;
  padding: 10px 15px;
  border: none;
  margin: 2em 9px;
  background-color:var(--bg-dark);
  border-bottom-style: solid;
  border-color: var(--bg-light);
   border-width: 2px;
   color: var(--bg-light);
  direction: rtl;
  font-size: 1em;
}
.form input:focus{
    outline: none;
    border-color: #12bcda;
}
.form>div{
  position: relative;
  text-align: end;
}
.form label{
  position:absolute;
  z-index: 1;
  color:#12bcda;
  right:60px;
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 transform: translateY(-65px);
 font-size: 14px;
  gap: 5px; 
  
}

.form>div input:focus + label{
  transform: translateY(-95px);
  right: 50px;
  padding: 0 5px;
  z-index: 1;
  font-size: 0.8em;
  transition: all 0.5s ease-in-out;
}
.form>div input:focus{
  background: linear-gradient(to left, #1294da 50%,var(--bg-dark) 50%);
  background-size: 200% 100%;  /* عشان نقدر نحركه */
  animation: moveBackground 0.4s ease;
}
.form>div input:not(:placeholder-shown) + label{
   transform: translateY(-95px);
 }

 @keyframes moveBackground {
  from {
    background-position: 100%  0;
  }
  to {
    background-position: 0 0;
  }

}
button{
  color: var(--bg-light);
  width: fit-content;
  background-color: var(--gold);
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  border:var(--bg-dark);
}
@media (max-width:1000px) {
 .form{
  display: flex;
  flex-direction: column;
} 
.form img{
 display: none;
}

.bc-ground{
  width: 100%;
  height: 30vh;
  background-image: url('./image/signup.png');
  background-position: top ;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
  opacity: 0.5;
}

}


.expand {
  max-height:fit-content; /* أو أكبر قيمة ممكنة تُظهر كل الكروت */
  overflow-y: visible;
}


.menu {
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.toggle1 .item-1 {
  transform: rotate(45deg) translateY(10px);
   transition: all 01s ease;
}

.toggle1 .item-2 {
  opacity: 0;
   transition: all 01s ease;
}

.toggle1 .item-3 {
  transform: rotate(-45deg) translateY(-10px);
   transition: all 01s ease;
}



.log.show {
  display: flex;
  transition: all 0.5s ease-in-out;
}

